$blue: #1877F2;
$green: #42B72A;
$paragraph-margin-bottom: 0;
$gray-600: rgb(245,245,245);

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  padding-top: 50px;
}

.user-block {
  &:hover {
    background-color: lightgoldenrodyellow;
  }
  &.active {
    background-color: lightgoldenrodyellow;
  }
}