$blue: #1877F2;
$green: #42B72A;
$paragraph-margin-bottom: 0;
$gray-600: rgb(245,245,245);

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  padding-top: 50px;
}

.chat-block {
  height: 600px;
  border: 2px solid $gray-600
}

.control-block {
  border: 2px solid $gray-600;
  border-bottom: 1px solid white;
}

.user-block {
  &:hover {
    background-color: lightgoldenrodyellow;
  }
  &.active {
    background-color: lightgoldenrodyellow;
  }
}

.messages-control {
  height: 100%;
}

.messages-block, .users-block {
  height: 530px;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.users-block {
  height: 100%;
}

.message-input {
  &::placeholder {
    color: rgba(0,0,0,0.5);
  }

}